/******************************************************************

Stylesheet: Apply Retina display

******************************************************************/

/* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
