$font-path: "../../fonts/";

@font-face {
  font-family: "jp-font";

  src: url("#{$font-path}Mochiy_Pop_P_One/MochiyPopPOne-Regular.ttf");
}

@font-face {
  font-family: "en-font";

  src: url("#{$font-path}Kameron/Kameron-Bold.ttf"),
    url("#{$font-path}Kameron/Kameron-Regular.ttf");
}
