$cWhite: white;
$cBlack: Black;
$cLightBlack: rgba(0, 0, 0, 0.5);
$cAqua: rgb(70, 180, 180);
$cLightBlue: rgb(0, 220, 255);

$cslidecover: rgba(0, 61, 125, 0.1);
$cSubTitle: #535353;
$cBgAqua: #afeeee80;
$cCover: rgba(0, 0, 0, 0.2);
$cSwiperShadow: rgba(0, 0, 0, 0.8);
$cHeaderBg: rgba(255, 255, 255, 0.9);

$contentMaxWidth: 1070px;
$navHeight: 100px;
